{% if cluster_check.json is defined %}
{% if cluster_check.json.status == 'table' %}
| | {{ cluster_check.json.nodeNames | join(' | ') }} |
|-| {{ cluster_check.json.nodeNames | join(' | ') | regex_replace('[^\|]','-') }} |
{% for node in cluster_check.json.nodeNames %}
| {{ node }} | {{ cluster_check.json.tableData[loop.index - 1] | join(' | ') }}
{% endfor %}
{% else %}
{{ cluster_check.json.message }}
{% endif %}
{% else %}
An error occured when calling cluster validation
Getting CSRF token returned: {{ csrf_req.msg | default('No error could be retieved') }}
Calling validation returned: {{ cluster_check.msg | default('No error could be retieved') }}
{% endif %}
